body
{ margin: 0; font-family: Arial; background-color: #f6bdaf}
table
{ margin-left: auto; margin-right: auto; border-style: dotted; border-collapse: collapse; }
tr, th, td
{ border-style: dotted; margin: 6px; text-align: center; }
.website
{ text-align: center; margin: 30 auto; }
#myBtn 
{ display: none; position: fixed; bottom: 20px; right: 20px; z-index: 99; border: none; border-radius: 20px;outline: none; font-size: 16px; cursor: pointer;
padding: 20px; background-color: white; color: white; }
#myBtn:hover 
{ background-color: #2f1813; }
.container
{ padding-top: 5%; text-align: center; height: 60%; width: 90%; margin-left: 5%; margin-right: 5%; font-size: 30px; }
.container h3
{ font-size: 20px; font-family: Times New Roman; }
.container a:link 
{ transition-property: color; color: white; text-decoration: none; }
.content
{ height: auto; width: 700px; margin-left: auto; margin-right: auto; margin-top: 2%; margin-bottom: 2%; word-wrap: break-word; font-size: 20px; text-align: left; }

.content a:link 
{ color: #2f1813; }
.content a:visited 
{ color: white; }
.content a:hover 
{ color: white; }
.content a:active 
{ color: white; }

.menu
{
	transition-property: color;
	transition-property: background-color;
	overflow: hidden;
  	background-color: white;
}
.menu a
{
	transition-property: color;
	transition-property: background-color;
	float: left;
  	display: block;
  	color: #84b5c2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
.menu a:hover
{
	transition-property: color;
	transition-property: background-color;
	background-color: white;
  	color: white;
}
.menu a.active
{
	
	background-color: white;
  	color: white;
}
.menu .icon
{
	display: none;
}



#photo
{ width: 700px; height: auto; }
